/*medium-viewport*/
@media only screen and (min-width: 40em) {
	.promo{
		display: grid;
		margin-top: -.1em;
		margin-left: 0em;
		margin-right: 0em;
		padding: 2em;
		background-image: url(../img/promo.jpg);
		background-position-y: -7em;
		background-color:tan;
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		color: white;
	}
	
	.promo>p{
		font-size:.5em;
		margin: 0;
		padding: 0;
		border: 0;
	}

	.products {
		display: grid;
		grid-template-columns: 15em auto;
	}

	.prodCount{
		margin-bottom: 5em;
		margin-left: 20em;
	}

}